---
import background from "../assets/hero.webp";
---

<section
  class="relative lg:grid lg:min-h-screen lg:place-content-center bg-cover bg-bottom bg-no-repeat"
  style={`background-image: url(${background.src})`}
>
  <!-- Overlay para que el texto se lea -->
  <div class="absolute inset-0 bg-black/75"></div>

  <div
    class="relative z-10 mx-auto w-screen max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32"
  >
    <div class="max-w-prose">
      <h1 class="text-4xl sm:text-5xl font-bold text-white">
        <span class="block md:hidden">
          Miradas
          <span class="block text-[color:var(--brand-line)]">Perfectas</span>
        </span>

        <span class="hidden md:block">
          El estilo es una forma de decir quién eres,
          <span class="block text-[color:var(--brand-line)]"
            >sin tener que hablar</span
          >
        </span>
      </h1>

      <div class="mt-4 flex gap-4 sm:mt-6">
        <a
          class="inline-block rounded bg-[color:var(--brand)] px-5 py-3 font-medium shadow-sm transition hover:bg-[color:var(--brand-hover)]"
          href="#servicios"
        >
          Ver servicios
        </a>

        <a
          class="inline-block rounded bg-[color:var(--surface-mix)] px-5 py-3 font-medium text-[color:var(--text)] shadow-sm transition hover:bg-[color:var(--brand-hover)]"
          href="#contacto"
        >
          Contáctanos
        </a>
      </div>
    </div>
  </div>
</section>
