---
import astroLetra from "../assets/kt_le.svg";
import astroLogo from "../assets/kt_log.svg";
---


<header class="sticky top-0 z-[9999] border-b border-[color:var(--border)] bg-[color:var(--surface)]/85 backdrop-blur-md">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="md:flex md:items-center md:gap-12">
        <a class="block" href="#welcome">
          <span class="sr-only">Inicio</span>

          <img class="hidden md:block h-12 w-auto" src={astroLetra.src} alt="Karitiana" />
          <img class="h-10 w-10 md:hidden" src={astroLogo.src} alt="Logo Karitiana" />
        </a>
      </div>

      <div class="hidden md:block">
        <nav aria-label="Global">
          <ul class="flex items-center gap-6 text-sm">
            <li><a class="text transition hover:text-muted" href="#welcome">Inicio</a></li>
            <li><a class="text transition hover:text-muted" href="#servicios">Servicios</a></li>
            <li><a class="text transition hover:text-muted" href="#about">Acerca de</a></li>
            <li><a class="text transition hover:text-muted" href="#masterclass">Masterclass</a></li>
            <li><a class="text transition hover:text-muted" href="#contacto">Contacto</a></li>
            <li><a class="text transition hover:text-muted" href="#blog">Blog</a></li>
          </ul>
        </nav>
      </div>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
          <a class="rounded-md bg-[color:var(--brand)] px-5 py-2.5 text-sm font-medium text-white shadow-sm transition hover:bg-[color:var(--brand-hover)]" href="#">
            Acceso
          </a>

          <div class="hidden sm:flex">
            <a class="rounded-md bg-[color:var(--surface-mix)] px-5 py-2.5 text-sm font-medium text-[color:var(--text)] shadow-sm transition hover:bg-[color:var(--brand-hover)]" href="#">
              Registro
            </a>
          </div>
        </div>

        <div class="block md:hidden">
          <button class="rounded-sm bg-[color:var(--surface-mix)] p-2 text-[color:var(--text)] transition hover:opacity-80">
            <svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>